html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    background-color: #222222;
}
canvas {
    display: block;
}
body {
    margin: 0;
}
#unity-container {
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 1;
}
#unity-canvas {
    width: 100%;
    height: 100%;
    background: #231F20;
    
    z-index: 1;
}
#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    z-index: 10000;
}
.progress-container {
    width: 50%; /* Adjust width as desired */
    height: 20px;
    background-color: #333333; /* Slightly lighter gray for contrast */
    border-radius: 10px;
    overflow: hidden;
}
.progress-bar {
    width: 0%; /* Starts at 0, updated by JS */
    height: 100%;
    background-color: #ffffff; /* White for the bar */
    border-radius: 10px;
    transition: width 0.3s ease-in-out; /* Smooth animation */
}
#adContainer {
    position: absolute;
    right: 20px;
    top: 50px;
    z-index: 1000;
    width: 250px;
    height: 500px;
    background-color: #111111;
    display: none;
}
